# Logistic Regression

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('score.csv')

In [4]:
data

    gmat  gpa  work_experience  admitted
0    780  4.0                3         1
1    750  3.9                4         1
2    690  3.3                3         0
3    710  3.7                5         1
4    680  3.9                4         0
5    730  3.7                6         1
6    690  2.3                1         0
7    720  3.3                4         1
8    740  3.3                5         1
9    690  1.7                1         0
10   610  2.7                3         0
11   690  3.7                5         1
12   710  3.7                6         1
13   680  3.3                4         0
14   770  3.3                3         1
15   610  3.0                1         0
16   580  2.7                4         0
17   650  3.7                6         1
18   540  2.7                2         0
19   590  2.3                3         0
20   620  3.3                2         1
21   600  2.0                1         0
22   550  2.3                4         0
23   550  2.7                1         0
24   570  3.0                2         0
25   670  3.3                6         1
26   660  3.7                4         1
27   580  2.3                2         0
28   650  3.7                6         1
29   660  3.3                5         1
30   640  3.0                1         0
31   620  2.7                2         0
32   660  4.0                4         1
33   660  3.3                6         1
34   680  3.3                5         1
35   650  2.3                1         0
36   670  2.7                2         0
37   580  3.3                1         0
38   590  1.7                4         0
39   690  3.7                5         1

gmat, gpa,work_experience = features
admitted = label

In [9]:
#iloc[row, column]
#slicing the data

x = data.iloc[:,0:3]
x

    gmat  gpa  work_experience
0    780  4.0                3
1    750  3.9                4
2    690  3.3                3
3    710  3.7                5
4    680  3.9                4
5    730  3.7                6
6    690  2.3                1
7    720  3.3                4
8    740  3.3                5
9    690  1.7                1
10   610  2.7                3
11   690  3.7                5
12   710  3.7                6
13   680  3.3                4
14   770  3.3                3
15   610  3.0                1
16   580  2.7                4
17   650  3.7                6
18   540  2.7                2
19   590  2.3                3
20   620  3.3                2
21   600  2.0                1
22   550  2.3                4
23   550  2.7                1
24   570  3.0                2
25   670  3.3                6
26   660  3.7                4
27   580  2.3                2
28   650  3.7                6
29   660  3.3                5
30   640  3.0                1
31   620  2.7                2
32   660  4.0                4
33   660  3.3                6
34   680  3.3                5
35   650  2.3                1
36   670  2.7                2
37   580  3.3                1
38   590  1.7                4
39   690  3.7                5

In [7]:
y = data.iloc[:,3]
y = data[['admitted']]
y

    admitted
0          1
1          1
2          0
3          1
4          0
5          1
6          0
7          1
8          1
9          0
10         0
11         1
12         1
13         0
14         1
15         0
16         0
17         1
18         0
19         0
20         1
21         0
22         0
23         0
24         0
25         1
26         1
27         0
28         1
29         1
30         0
31         0
32         1
33         1
34         1
35         0
36         0
37         0
38         0
39         1

In [10]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.01)

In [11]:
xtrain

    gmat  gpa  work_experience
12   710  3.7                6
24   570  3.0                2
23   550  2.7                1
13   680  3.3                4
25   670  3.3                6
1    750  3.9                4
4    680  3.9                4
7    720  3.3                4
20   620  3.3                2
16   580  2.7                4
26   660  3.7                4
35   650  2.3                1
39   690  3.7                5
38   590  1.7                4
34   680  3.3                5
0    780  4.0                3
3    710  3.7                5
30   640  3.0                1
19   590  2.3                3
6    690  2.3                1
8    740  3.3                5
22   550  2.3                4
32   660  4.0                4
33   660  3.3                6
31   620  2.7                2
21   600  2.0                1
28   650  3.7                6
17   650  3.7                6
37   580  3.3                1
2    690  3.3                3
18   540  2.7                2
27   580  2.3                2
11   690  3.7                5
9    690  1.7                1
5    730  3.7                6
14   770  3.3                3
36   670  2.7                2
29   660  3.3                5
10   610  2.7                3

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
model = LogisticRegression()

In [16]:
model.fit(xtrain, ytrain)

D:\Legends\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

# Prediction

In [17]:
test = pd.read_csv(r'stest.csv')

In [18]:
test

   gmat  gpa  work_experience
0   590  2.0                3
1   740  3.7                4
2   680  3.3                6
3   610  2.3                1
4   710  3.0                5

In [19]:
xpredict = model.predict(test)

In [20]:
xpredict

array([0, 1, 1, 0, 1], dtype=int64)

In [21]:
test['admitted'] = xpredict
test

   gmat  gpa  work_experience  admitted
0   590  2.0                3         0
1   740  3.7                4         1
2   680  3.3                6         1
3   610  2.3                1         0
4   710  3.0                5         1